@import "tailwindcss";

:root {
  --background: #ffffff;
}

button,
a {
  cursor: pointer;
}

button[disabled],
a[disabled] {
  cursor: not-allowed;
}

input:focus-visible {
  outline: none;
  outline-offset: 0;
}

body {
  color: black;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
